* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter' , sans-serif;
    color: #333;
}

.container {
    display: grid;
}

.sidebar { }

.main { }

.main .navbar { }

.main .main-content { }