*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter" ,sans-serif;
    background-color: #eee;
    color: #34495e;
    padding: 20px;
}

.container {
    /* take heigh oh 93% of view heigh */
    background-color: #fff;
    height: 93vh; 
    display: flex;
    /* background-color: red; */
    /* padding: 10px; */
    border-radius: 5px;
    /* give overflow hidden to make border-radius visible to image */
    overflow: hidden;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8);
    /* strech items to empty space */
    align-items: stretch;
}

.left-side {
    /* background-color: blue; */
    /* flex-grow: 1; */
    position: relative;
    flex-basis: 40%;
}

.left-side .text-float {
    text-align: center;
    color: #ecf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px;
    /* left: 0; */
    /* z-index: 99; */
}

.left-side .text-float h2 {
    font-weight: 700;
    letter-spacing: 5px;
}
.left-side .text-float h3 {
    font-weight: 300;
    letter-spacing: 3px;

}

.left-side img {
    /* border-radius: 5px; */
    /* overflow: hidden; */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.right-side {
    /* background-color: green; */
    /* flex-grow: 2; */
    padding: 20px;
    flex-basis: 60%;

}

.right-side .some-text p{
    /* text-transform: capitalize; */
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
}

.right-side form .name ,.right-side form .contact , .right-side form .pass{
    display: flex;
    align-items: stretch;
    column-gap: 20px;
    margin-top: 20px;
}

.right-side form label {
    text-transform: uppercase;
    margin-bottom: 3px;
    font-size: 15px;
}

.first-name , .last-name , .email , .phone-number , .password , .confirm-password{
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.right-side form input {
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
    /* background-color: transparent; */
    border: 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.6);
}

.right-side form input:focus {
    outline: none;
}